<div>

    <img src="/images/beer.png" width="50%" alt="">

</div>

<div>
    <button>
        <a href="/beers">Check the Beers</a>
    </button>
</div>
<br>
<div>
    <button>
        <a href="/random-beers">Check a Random Beer</a>
    </button>
</div>